 <div class="dropdown-item h-[130px]  min-w-[80px] max-[780px]:min-w-[70px] rounded-[5px] flex flex-col items-center justify-center relative bg-[#EEF6FF]">
    <div class="dark-sub-shimmer"></div>

    <img class="detail_icon w-[60px]" src="https://f005.backblazeb2.com/file/WeatherApp/DayIcons/clear.svg" >
    <div class="detail_temp font-bold text-[1.2rem]">28 &deg;C</div>
    <div class="detail_time text-base font-normal">1 AM</div>
</div>