 <tr class="relative forecast_instance lg:hover:cursor-pointer" id="{{id}}" forecast_date="">
    {{!-- <td class="dark-sub-shimmer"></td> --}}
        <td  class="dayName forecast_instance1">
            <div class="dark-sub-shimmer"></div>
            <i class="fa-solid fa-angle-down mr-3"></i>
            <span class="forecast_day">Sunday</span>
        </td>
        
        <td class="forecast_status lg:hidden min-[1200px]:table-cell">
            <div class="flex flex-row gap-0 justify-start min-[1400px]:justify-start items-center w-full">

            <span class="overflow-hidden overflow-ellipsis whitespace-nowrap w-full hidden min-[1400px]:block forecast_desc" title="">Thunder</span>
            <img src="https://f005.backblazeb2.com/file/WeatherApp/DayIcons/cloudy.svg" class="forecast_icon">
            </div>
        </td>
        <td class="forecast_min">12&deg;C</td>
        <td class="forecast_max">40&deg;C</td>
        
</tr>

<tr class="lg:hover:cursor-grab" data-target="{{id}}" infoSet="false">
<td colspan="4" >
    <div id="dropdown" class="relative">
        <div class="dropdown-content dark:text-black flex flex-row flex-wrap-none gap-3 overflow-x lg:overflow-x-hidden lg:hover:overflow-x-auto active:cursor-grabbing h-[0px] opacity-0">
           {{>forecast_hourly}}
           {{>forecast_hourly}}
           {{>forecast_hourly}}
           {{>forecast_hourly}}
           {{>forecast_hourly}}
           {{>forecast_hourly}}
           {{>forecast_hourly}}
           {{>forecast_hourly}}
           {{!-- {{>forecast_hourly}}
           {{>forecast_hourly}}
           {{>forecast_hourly}}
           {{>forecast_hourly}}
           {{>forecast_hourly}}
           {{>forecast_hourly}}
           {{>forecast_hourly}}
           {{>forecast_hourly}}
           {{>forecast_hourly}}
           {{>forecast_hourly}}
           {{>forecast_hourly}}
           {{>forecast_hourly}}
           {{>forecast_hourly}}
           {{>forecast_hourly}}
           {{>forecast_hourly}}
           {{>forecast_hourly}} --}}
        </div>
    </div>
</td>
</tr>
