<div class="info fixed bg-green-100 text-green-600 rounded px-3 h-0 py-1 border-2 border-green-600 border-solid top-[5%] right-1/2 translate-x-1/2 z-50 flex flex-row gap-3 items-center transition-all duration-1000 opacity-0">
    <img src="./resources/info.svg" alt="Success">
    <span>Changes have been applied successfully!!</span>
</div>