<div class="info fixed bg-green-100 text-green-600 rounded px-0 h-0 py-0 border-green-600 border-solid top-[5%] right-1/2 translate-x-1/2 z-50 flex flex-row gap-3 items-center transition-all duration-1000 opacity-0 overflow-hidden w-auto min-[501px]:text-nowrap">
    <img src="./resources/info.svg" alt="Success">
    <span>Changes have been applied successfully!!</span>
</div>