<div id="otpParent" class="info fixed bg-blue-100 text-blue-700 rounded p-4 h-auto border-blue-700 border-solid top-[5%] right-1/2 translate-x-1/2 z-50 flex-col gap-3 items-start justify-center transition-all duration-1000 opacity-100 overflow-visible w-[250px] min-[501px] hidden">
<h1>Enter OTP:</h1>
    <div id="otp-inputs">
        <input class="w-8 text-center border-2 border-green-600 otp-input" type="text" maxlength="1">
        <input class="w-8 text-center border-2 border-green-600 otp-input" type="text" maxlength="1">
        <input class="w-8 text-center border-2 border-green-600 otp-input" type="text" maxlength="1">
        <input class="w-8 text-center border-2 border-green-600 otp-input" type="text" maxlength="1">
        <input class="w-8 text-center border-2 border-green-600 otp-input" type="text" maxlength="1">
        <input class="w-8 text-center border-2 border-green-600 otp-input" type="text" maxlength="1">
    </div>
    <button id="otpBtn" class="px-4 py-[0.1rem] font-semibold text-white bg-blue-500 rounded hover:bg-blue-700 focus:outline-none focus:shadow-outline cursor-pointer">Enter</button>
</div>

<script>
    const otpInputs = Array.from(document.querySelectorAll('.otp-input'));

    otpInputs.forEach((input, index) => {
        input.addEventListener('input', () => {
            if (input.value.length === 1 && index < otpInputs.length - 1) {
                otpInputs[index + 1].focus();
            }
        });
    });
</script>