<!-- <!DOCTYPE html> -->
<html lang="en" class="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Purrfect Weather</title>
    {{>link}}
</head>
<body class="h-screen bg-[#EEF6FF] dark:bg-[#00071E] relative dark:text-white">
    <div class="search_cover hidden absolute top-0 bottom-0 left-0 right-0 opacity-30 bg-black z-30"></div>
    <div class="main_container grid grid-cols-layout max-[1200px]:grid-cols-layout-sm max-[830px]:grid-cols-1 gap-4 h-auto min-[830px]:pr-3">

        <!-- Side Panel -->
        <div class="layout_box lg:row-span-5 row-span-8 text-center flex flex-col items-start bottom-0 justify-center fixed w-[170px] min-[830px]:w-[200px] max-[830px]:h-auto max-[830px]:w-full h-full z-20 ">
            {{>sidePanel}}
        </div>

        <!-- Header -->
        <div class="layout_box min-[831px]:col-start-2 min-[831px]:col-span-3 min-[1200px]:col-span-5 min-[1200px]:col-start-2 lg:col-start-2 max-[830px]:col-start-1 h-[100px] max-[1200px]:h-[100px] bg-transparent">
            <div class="header w-full h-full bg-transparent max-[830px]:flex-row max-[830px]:justify-center max-[830px]:gap-0 px-4 py-0 pb-0 flex flex-row items-center justify-between gap-4 relative ">

                <div class="search_box bg-white items-center rounded-t-lg border-b border-b-black ml-[0px] mt-[10px] w-[55%] max-w-[600px] flex-shrink-[10] max-[830px]:w-full max-[830px]:max-w-full text-black">
                    <input type="search" class=" px-4 py-2 bg-transparent focus:outline-none w-full max-[830px]:hidden" name="search_city" id="search_city" placeholder="Search city...">
                    <div class="circle">
                    <img src="./resources/dark_profile/search.png" class="w-[16px] h-[16px] max-[830px]:ml-0">
                    </div>
                    <ul class="city_list bg-white text-black absolute top-[104%] z-20 left-0 w-full h-auto rounded-b-lg">
                    </ul>
                </div>

                <div class="profile-mode relative right-[0px] gap-[10px] px-4 py-1 h-[50px] flex items-center justify-center max-[830px]:p-0 max-[830px]:w-full max-[830px]:justify-end max-[830px]:gap-[2px]">
                    <button id="darkMode" class=" darkMode flex items-center justify-center  w-[50px] h-[50px] dark:hidden rounded-full" ><img class="w-[95%]" src="./resources/dark_profile/Dark.svg"></button>

                    <button id="darkMode" class=" darkMode items-center justify-center  w-[50px] h-[50px] rounded-full hidden dark:flex" ><img class="w-[95%]" src="./resources/darkModeIcons/Dark.svg"></button>

                    <div class="relative z-40">
                    <button id="profileBtn" class=" profileBtn items-center justify-center  w-[50px] h-[50px] rounded-full flex {{#unless loggedIn}}hidden{{/unless}}" ><img class="w-[95%]" src="./resources/dark_profile/profile.svg"></button>
                    <div class="absolute pfpDropDown hidden bg-white right-0">
                        <div class="py-1 flex w-[200px] h-auto flex-col" role="none">
                        <a href="#" class="block px-4 py-2 text-sm text-gray-700 border-b border-black break-words" role="menuitem">Email: {{email}}</a>
                        <button class="logout block px-4 py-2 text-sm text-left text-gray-700" role="menuitem">Logout</button>
                      
                        </div>
                    </div>

                    </div>

                    <button class=" font-semibold text-base  {{#if loggedIn}} hidden{{/if}} "><a class="p-2 px-4 bg-white dark:outline-white min-w-[100px] rounded ml-2 max-[830px]:text-[0.9rem] hover:bg-white hover:text-black outline-2 transition-all outline-black outline dark:bg-[#181C2D]" href="/login">Login/SignUp</a></button>
                </div>
            </div>
        </div>

        <!-- Main card -->
        <div class="layout_box weather_main_card overflow-hidden  col-start-2 col-span-3 max-[830px]:col-start-1 max-[830px]:col-span-1 h-[330px] max-[1200px]:h-[280px] bg-white  text-center dark:bg-[#181C2D] p-4 rounded-[20px] relative ">
            <div class="weather_main_card_before"></div>
            <div class="dark-shimmer" ></div>

            <div class="main_card flex w-[93%] m-auto  h-[100%] dark  flex-col items-center justify-evenly relative z-10">
                <div class="inner_main flex flex-row justify-between items-center w-full ">
                    <div class="dark-sub-shimmer"></div>
                    <div class="location items-end flex gap-3">

                        <img class="w-[35px] h-[40px]" src="./resources/dark_profile/map-pin-2-fill.png">

                        <span class="font-bold min-[1400px]:text-3xl text-2xl text-left">Prayagraj, Uttar Pradesh</span>
                    </div> 

                    <div class="relative flex gap-4 min_max items-start text-left min-w-[80px]">
                        <div class="min">Min: 30 &#176;</div>
                        <div class="max">Max: 40 &#176;</div>
                    </div>
                </div>

                <div class="flex flex-row w-full items-center gap-4">
                <div class="sub_card3 flex flex-col w-[90%] gap-2 ml-[15px]">
                        <div class="font-semibold text-[1.2rem] w-[fit-content] text-left date">
                          <div class="dark-sub-shimmer"></div>

                           <span>Sunday, 2 January | 06:06 AM
                            </span>
                           </div>

                        <div class="precipitation flex gap-4 ">
                            <div class="dark-sub-shimmer"></div>

                            <img class="w-[30px] h-[30px]" src="./resources/main_card/precipitation.png">
                            <span class="lg:min-w-[130px] text-left">
                            Precipitaion: 21%</span>
                        </div>

                        <div class="text-left humidity flex gap-4 ">
                            <div class="dark-sub-shimmer"></div>
                            <img class="w-[30px] h-[30px]"src="./resources/main_card/humidity.png"><span class="lg:min-w-[130px] text-left">Humidity: 79%</span>
                        </div>

                        <div class="flex gap-4 feelsLike ">
                            <div class="dark-sub-shimmer"></div>

                            <img class="w-[30px] h-[30px] hidden" src="./resources/main_card/feels.png">
                            <span class="font-semibold text-[1.2rem]">Feels Like 29&#176;</span>
                        </div>
                </div>

                <div class="flex flex-row items-center max-[1200px]:justify-end justify-around min-[830px]:w-[90%] w-[60%] h-[200px] main_info shimmer_main_temp">
                    <div class="dark-sub-shimmer hidden" ></div>
                    <div class="sub_card1 mr-[0px]">

                        <div class="inner_subCard1 relative max-[830px]:top-[10px] min-[1400px]:w-[180px] w-[150px]">
                            <img class="w-full weatherIcon" src="https://f005.backblazeb2.com/file/WeatherApp/DayIcons/clear.svg" class="w-full">
                        </div>
                        <div class="status font-bold text-[1.5rem] min-[1200px]:text-[2rem] relative min-[831px]:bottom-[25px] w-full max-w-[200px]">

                            Cloudy</div>
                    </div>
                    <div class="sub_card2 flex flex-row gap-2 h-[100px] items-center justify-center relative min-[831px]:bottom-[20px]">

                        <div class="min[1400px]:text-[3rem] text-[2rem] font-semibold main_temp">
                            <span class="temperature font-bold text-[3rem] min-[1400px]:text-[5rem]">33&#176;</span>
                            C
                            </div>
                    </div>
                </div>

            </div>
                
            </div>
        </div>

        <!-- Right first card- Forecast Card -->
        <div class="layout_box max-[830px]:col-start-1 max-[830px]:col-span-1 col-span-2 max-[1200px]:col-start-2 max-[1200px]:row-start-4 max-[1200px]:col-span-3 h-[auto] min-h-[550px] row-span-2 bg-white dark:bg-[#181C2D] text-center  min-[831px]:max-h-[550px] overflow-hidden rounded-[20px]" >

            <div class="right-forecast w-full h-full p-4">
                <div class="forecast-selection w-1/2 h-[50px] m-auto dark:text-black font-semibold mt-2 min-w-[200px]">
                        <select name="forecast" id="forecast" class="w-full">
                            <option value="3">3 day forecast</option>
                            <option value="7">7 day forecast</option>
                            <option value="15">15 day forecast</option>
                        </select>
                </div>

                <div class="forecast_results w-full mt-[15px]">
                    <table class="m-auto w-[100%] user-select-none min-h-[420px]">

                        <thead class="text-left h-[50px]">
                          <tr>
                            <th>Day Name</th>
                            <th class="lg:hidden min-[1200px]:table-cell">Status</th>
                            <th>Min &darr;</th>
                            <th>Max &uarr;</th>
                          </tr>
                        </thead>

                        {{#if loggedIn}}
                        <tbody class="pr-[0px] text-left">
                          {{>forecast id="row1"}}
                          {{>forecast id="row2"}}
                          {{>forecast id="row3"}}
                          {{>forecast id="row4"}}
                          {{>forecast id="row5"}}
                          {{>forecast id="row6"}}
                          {{>forecast id="row7"}}
                        </tbody>
                        {{else}}
                        <tbody>
                            <tr>
                                <td class="lock" colspan="4" >
                                    <i class="fa-solid fa-lock"></i>
                                Login to get access</td>
                            </tr>
                        </tbody>
                        {{/if}}
                    </table>
                      <div class="w-[90%] mx-auto my-3 text-right text-sm">
                      <span class="showMore text-gray-500">Scroll To view More</span>
                    </div>

                </div>
            </div>

        </div>

        <!-- 24 hour weather line chart-->
        <div class="layout_box dayHourChart col-start-2 col-span-3 max-[1200px]:row-start-3 h-[200px] bg-white dark:bg-[#181C2D] text-center max-[830px]:col-start-1 max-[830px]:col-span-1 lg:mr-0 relative">
            <div class="dark-sub-shimmer"></div>
            <h1 class="absolute w-fit left-[40px] m-[3px]">24 Hour Chart</h1>
            <div id="graphContainer" class="relative p-2">
                        {{>24hourSvg weather="cloudy"}}
                        {{>24hourSvg weather="rain"}}
                        {{>24hourSvg weather="cloudy"}}
                        {{>24hourSvg weather="fog"}}
                        {{>24hourSvg weather="cloudy"}}
                        {{>24hourSvg weather="cloudy"}}
                        {{>24hourSvg weather="freezingRain"}}
                        {{>24hourSvg weather="cloudy"}}
                    <canvas id="myChart" ></canvas>
              </div>
        </div>

        {{!-- More detailed 4 cards --}}
        <div class="layout_box detail_cards col-start-2 col-end-5 h-[500px] bg-[#EEF6FF] dark:bg-[#181C2D] text-center max-[830px]:col-start-1 max-[830px]:col-span-1 flex flex-row flex-wrap justify-between gap-0 align-content-around lg:mr-0">
            {{#if loggedIn}}
            <div class="flex flex-col items-center justify-around min-[830px]:justify-center h-[230px] lg:w-[49%] w-[49%] bg-white rounded-lg dark:bg-[#181c2d] dark:outline outline-white outline-1">

                <h2 class="text-xl mb-4">Wind Speed</h2>
                <div class="relative lg:w-[34%] w-[42%] max-w-[115px] lg:h-[50%] xl:h-[61%] flex items-center flex-col justify-center">
                <img class="w-[100%] mb-0 dark:hidden" src="./resources/weatherSubCards/windIcon1.svg" alt="Image description">
                <img class="w-[100%] mb-0 hidden dark:block" src="./resources/weatherSubCards/windIconDark.svg" alt="Image description">
                </div>
                <div class="flex flex-col lg:flex-row items-start gap-[0.1rem] max-[830px]:text-left lg:gap-4 justify-between  w-full px-6 py-2 relative">
                    <div class="dark-sub-shimmer"></div>
                  <span class="wind_speed">7.50 km/h</span>
                  <span class="wind_status">Slow</span>
                </div>
              </div>

              <div class="flex flex-col items-center justify-around min-[830px]:justify-center h-[230px] lg: lg:w-[49%] w-[49%] bg-white rounded-lg dark:bg-[#181c2d] dark:outline outline-white outline-1">

                <h2 class="text-xl mb-4">UV Index</h2>
                <div class="relative lg:w-[34%] w-[42%] max-w-[115px] lg:h-[50%] xl:h-[61%] flex items-center flex-col justify-center">
                    <div class="relative">
                    <object class=" dark:hidden w-[100%] z-10 relative mb-0" type="image/svg+xml" data="./resources/weatherSubCards/uvSPeed.svg"></object>

                    <object class="w-[100%] z-10 relative mb-0 dark:block hidden" type="image/svg+xml" data="./resources/weatherSubCards/uvSPeedDark.svg"></object>

                    <svg viewBox="0 0 100 100" width="91%" class=" absolute top-[4px] left-[5px] ">
                        <rect width="100%" height="100%" fill="none"></rect>
                        <g transform="rotate(180 50 50)" fill="none" stroke-width="7">
                          <circle cx="50" cy="50" r="45" stroke="#b35252" stroke-dashoffset="-100" stroke-dasharray="24 200" pathLength="200"></circle>
                          <circle cx="50" cy="50" r="45" stroke="#ff6c6c" stroke-dashoffset="-65" stroke-dasharray="38 200" pathLength="200"></circle>
                          <circle cx="50" cy="50" r="45" stroke="#ffdb9a" stroke-dashoffset="-25" stroke-dasharray="42 200" pathLength="200" class=""></circle>
                          <circle cx="50" cy="50" r="45" stroke="#b9ffb9" stroke-dashoffset="0" stroke-dasharray="25 200" pathLength="200"></circle>
                          <circle cx="50" cy="50" r="45" stroke="#71bf71" stroke-dashoffset="46" stroke-dasharray="25 200" pathLength="200" class=""></circle>
                        </g>
                      </svg>
                    <object data="./resources/dial2.svg" type="image/svg+xml" class="uv_light_dial absolute transition-all h-[59%] left-[46.5%] origin-bottom dark:hidden top-[0%] ">
                    </object>
                    <object data="./resources/dial2Dark.svg" type="image/svg+xml" class=" transition-all uv_dark_dial absolute h-[59%] left-[46.5%] origin-bottom dark:block hidden top-[0%] "></object>

                    </div>
                </div>

                <div class="flex flex-col lg:flex-row items-start gap-[0.1rem] max-[830px]:text-left lg:gap-4 justify-between  w-full px-6 relative min-[830px]:py-2">
                    <div class="dark-sub-shimmer"></div>
                  <span class="uv_index ">5.50 UV</span>
                  <span class="uv_index_status">Minimal sun protectin</span>
                </div>
              </div>

              <div class="flex flex-col items-center justify-around min-[830px]:justify-center h-[230px] lg:w-[49%] w-[49%] bg-white rounded-lg dark:bg-[#181c2d] dark:outline outline-white outline-1">

                <h2 class="text-xl mb-4">Visibility</h2>
                <div class="relative lg:w-[34%] w-[42%] max-w-[115px] lg:h-[50%] xl:h-[61%] flex items-center flex-col justify-center">
                    <img class="w-[100%] mb-0 dark:hidden" src="./resources/weatherSubCards/fogGray.svg" alt="Image description">
                    <img class="w-[100%] mb-0 dark:block hidden"  src="./resources/weatherSubCards/fogGrayDark.svg" alt="Image description">
                    
                </div>
                <div class="flex flex-col lg:flex-row items-start gap-[0.1rem] max-[830px]:text-left lg:gap-4 justify-between  w-full px-6 relative min-[830px]:py-2">
                  <div class="dark-sub-shimmer"></div>

                  <span class="visibility">04 km </span>
                  <span class="visibility_status">Clear</span>
                </div>
              </div>

              <div class="flex flex-col items-center justify-around min-[830px]:justify-center h-[230px] lg:w-[49%] w-[49%] bg-white rounded-lg dark:bg-[#181c2d] dark:outline outline-white outline-1">

                <h2 class="text-xl mb-4">Sea Level Pressure</h2>
                <div class="relative lg:w-[34%] w-[42%] max-w-[115px] lg:h-[50%] xl:h-[61%] flex items-center flex-col justify-center">
                   <div class="relative">
                    <img class="w-[100%] dark:hidden z-10 relative mb-0" src="./resources/weatherSubCards/uvSPeed.svg" alt="Image description">
                    <img class="w-[100%] hidden dark:block z-10 relative mb-0" src="./resources/weatherSubCards/uvSPeedDark.svg" alt="Image description">

                    <svg viewBox="0 0 100 100" width="91%" class=" absolute top-[4px] left-[5px] ">
                        <rect width="100%" height="100%" fill="none"></rect>
                        <g transform="rotate(180 50 50)" fill="none" stroke-width="7">
                          <circle cx="50" cy="50" r="45" stroke="#b35252" stroke-dashoffset="-100" stroke-dasharray="24 200" pathLength="200"></circle>
                          <circle cx="50" cy="50" r="45" stroke="#ff6c6c" stroke-dashoffset="-65" stroke-dasharray="38 200" pathLength="200"></circle>
                          <circle cx="50" cy="50" r="45" stroke="#ffdb9a" stroke-dashoffset="-25" stroke-dasharray="42 200" pathLength="200" class=""></circle>
                          <circle cx="50" cy="50" r="45" stroke="#b9ffb9" stroke-dashoffset="0" stroke-dasharray="25 200" pathLength="200"></circle>
                          <circle cx="50" cy="50" r="45" stroke="#71bf71" stroke-dashoffset="46" stroke-dasharray="25 200" pathLength="200" class=""></circle>
                        </g>
                      </svg>

                    <img src="./resources/dial2.svg" class="pressure_light_dial absolute transition-all h-[59%] dark:hidden left-[46.5%] origin-bottom top-[0%] ">
                    <img src="./resources/dial2Dark.svg" class="pressure_dark_dial absolute transition-all h-[59%] dark:block hidden left-[46.5%] origin-bottom top-[0%] ">
                    </div>
                </div>
                <div class="flex flex-col lg:flex-row items-start gap-[0.1rem] max-[830px]:text-left lg:gap-4 justify-between  w-full px-6 relative min-[830px]:py-2">
                    <div class="dark-sub-shimmer"></div>
                  <span class="pressure">990 hPa</span>
                  <span class="pressure_status">High Pressure</span>
                </div>
              </div>
            {{else}}
            <div class="lock text-xl"><i class="fa-lock fa-solid"></i> Login to get access</div>
            {{/if}}
        </div>

        <!-- right bottom card (2 SubCards) -->
        <div class="layout_box detail_cards col-span-2 max-[1200px]:col-span-3 max-[1200px]:col-start-2 min-h-[500px] row-span-1 dark:bg-[#181C2D] text-center max-[830px]:col-start-1 max-[830px]:col-span-1 flex flex-col items-center justify-around  xl:mr-0 max-[500px]:gap-[15px]">
            <div class="flex flex-row items-center justify-center h-[230px] xl:w-[94%] w-full bg-white rounded-[20px] gap-[0px] px-4 dark:bg-[#181c2d] dark:outline outline-white outline-1 max-[500px]:h-[400px] max-[500px]:p-4 max-[500px]:flex-col">
                <div class="air-visual w-full flex flex-col h-full justify-around">
                    <h2 class="mb-0 text-left font-medium text-[1.4rem] max-[500px]:text-[1.2rem]">Air Quality</h2>
                    <div class="relative w-[69%] max-[500px]:w-[100px] mx-auto min-w-[100px]">
                    <img class="w-full max-w-[120px] mx-auto" src="./resources/weatherSubCards/speedSvg.svg" alt="Image description">
                    <img class="w-[auto] left-[48%] lg:left-[47%] h-[45%] top-[6%] origin-bottom absolute mx-auto air_dial" src="./resources/weatherSubCards/speedDial.svg" alt="Image description">
                    </div>
                    <div class="flex max-[500px]:mt-[8px] flex-col justify-between w-full px-6 relative">
                    <div class="dark-sub-shimmer"></div>
                        <span class="text-base font-normal aqi_status">Moderate</span>
                    </div>
                </div>

                <div class="air_detail text-left font-normal text-base flex flex-col items-start justify-center h-full w-full">
                    <div class="relative min-[830px]:h-[109px] min-[830px]:w-full px-2 max-[500px]:px-0 flex items-end" >
                    <p class="air_description text-left mb-[13px] text-[#606781] font-medium text-[1.1rem] dark:text-white aqi_description max-[500px]:font-normal max-[500px]:text-base max-[500px]:break-all  ">
                        Very good quality air 
                        </p>
                    <div class="dark-sub-shimmer"></div>
                    </div>

                    <div class="px-2 flex flex-col relative w-[90%] mt-[5px] max-[500px]:px-0">
                        <div class="dark-sub-shimmer"></div>
                    <span class="font-normal max-[500px]:font-light max-[500px]:text-[0.9rem] air_pm25">
                        P2.5: 119 &micro;g/m<sup>3</sup>
                    </span>

                    <span class="font-normal max-[500px]:font-light max-[500px]:text-[0.9rem] air_pm10 relative">
                        P10: 239 &micro;g/m<sup>3</sup>
                    </span>

                    <span class="font-normal max-[500px]:font-light max-[500px]:text-[0.9rem] aqi relative">
                        European AQI: 239 &micro;g/m<sup>3</sup>
                    </span>
                    </div>
                </div>
            </div>
              

            <div class="flex flex-col items-start justify-around h-[230px] bg-white rounded-[20px] px-4 xl:w-[94%] w-full dark:bg-[#181c2d] dark:outline outline-white outline-1">
                <h3 class="mb-0 text-left font-medium text-[1.4rem] max-[500px]:text-[1.2rem]">Sunrise & Sunset</h3>

                <div class="flex flex-row items-center justify-around w-full">
                    <div class="sunrise w-full flex flex-col items-center justify-center h-full">
                        <div class="w-[170px] mb-4">
                           <img class="w-full" src="./resources/weatherSubCards/sunRise.svg">
                        </div>
                        <h2 class="text-xl mb-1">Sunrise</h2>
                        <span class="sunrise_time">05:47 AM</span>
                    </div>
                    <div class="sunset w-full flex flex-col items-center justify-center h-full">
                        
                        <div class="w-[170px] mb-4">
                            <img class="w-full" src="./resources/weatherSubCards/sunset.svg">
                         </div>
                        <h2 class="text-xl mb-1">Sunset</h2>
                        <span class="sunset_time">07:55 PM</span>
                    </div>
                </div>
            </div>

        </div>
    </div>

<script>
        // Define a global configuration object
    </script>
 {{>script}}
</body>
</html>