<!DOCTYPE html>
<html lang="en" class="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Map</title>
    {{>link}}
</head>

<style>
    #map-canvas {
      width: 100%;
      height: 100%;
    }
</style>
<body>
    {{>sidePanelAll}}

    <div class="main p-4 max-[780px]:p-0 w-full">
    {{>header}}

    <div class="map outline-1 outline-[#80808082] dark:outline dark:bg-[#181c2d] bg-white rounded-[10px] h-[87%] w-[95%] m-auto p-4 max-[1300px]:mr-0">
        {{#if loggedIn}}
        <iframe src="https://leafletmap0129.netlify.app/" width="100%" height="100%"></iframe>
        {{else}}
        <div class="lock flex flex-col items-center justify-center h-full">
            <i class="fa-solid fa-lock"></i>
            <span>Login to get access</span>
        </div>
        {{/if}}
    </div>


{{>script}}

</body>
</html>