<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact page</title>
</head>
<style>
    //write css to style the form
    body{
        background-color: #f1f1f1;
    }
    h1{
        text-align: center;
        color: #333;
    }
    form{
        width: 50%;
        margin: 0 auto;
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
    }
    label{
        display: block;
        margin-bottom: 5px;
        color: #333;
    }
    input{
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-bottom: 10px;
    }
    input[type="submit"]{
        background-color: #333;
        color: #fff;
        border: none;
        cursor: pointer;
    }
    input[type="submit"]:hover{
        background-color: #555;
    }
    input[type="text"]:focus,
    input[type="email"]:focus,
    input[type="password"]:focus{
        outline: none;
        border-color: #333;
    }
    .error{
        color: red;
        font-size: 14px;
    }

</style>
<body>
    <h1>Hello this is SignUp page</h1>
    
    {{>script}}
</body>
</html>